@import "/css/header.css";
@import "/css/introdução.css";
@import "/css/experiência.css";
@import "/css/formação.css";
@import "/css/contato.css";
@import "/css/responsivo.css";

body {
  font-family: "Fira Sans", Arial, sans-serif;
  margin: 0px;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0px;
  padding: 0px;
}
